# Node.js dependencies
node_modules/

# TypeScript build output
dist/

# Temporary files
*.log
*.tmp
logs/

# Operating system-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment files
.env